---
layout: archive
title: "Projects"
permalink: /portfolio/
author_profile: true
---

<h2>Startup Success Forecasting: A Data-Driven Approach</h2>
<p><strong>Tools & Technologies:</strong> SAS Enterprise Miner, Data Models</p>
<strong>Project Overview:</strong>
  <ul>
    <li>Analyzed US startup data to identify key success factors, focusing on funding rounds, milestones, and investor trends. Applied PCA, correlation analysis, and machine learning models (Random Forest, Logistic Regression).</li>
    <li>Developed a high-performance Random Forest model achieving <strong>92.19% accuracy</strong>, AUC of <strong>0.983</strong>, and robust stability for startup success prediction.</li>
  </ul>
  
  

<h2>Retail-Rocket Recommender System</h2>
<p><strong>Tools & Technologies:</strong> Python</p>
<strong>Project Overview:</strong>
  <ul>
    <li>Analyzed 2.7M+ rows of eCommerce data to predict item conversion rates based on historical engagement metrics (views, duration, past conversion rates). Pre-processed data, handled missing values, and performed normalization.</li>
    <li>Achieved the highest <strong>R² = 0.9936</strong> using a Random Forest model, outperforming Linear Regression and XGBoost in accurately predicting online customer purchase behavior and optimizing business impact.</li>
  </ul>
    

<h2>Netflix Data Analysis</h2>
<p><strong>Tools & Technologies:</strong> Python, Tableau</p>
<strong>Project Overview:</strong>
  <ul>
    <li>Developed predictive models using Random Forest and Logistic Regression on 50+ attributes, utilizing Python and SAS for data cleaning and analysis to identify key factors influencing program popularity.</li>
    <li>Analysis revealed a <strong>62.6%</strong> focus on TV shows compared to <strong>37.3%</strong> on movies, aiding strategic prioritization.</li>
  </ul>
  
{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

