---
layout: archive
title: "Projects"
permalink: /portfolio/
author_profile: true
---

 <h2>Startup Success Forecasting: A Data-Driven Approach</h2>
    <p><strong>Tools & Technologies:</strong> SAS Enterprise Miner, Data Models</p>
    <p><strong>Project Overview:</strong></p>
    <p>Analyzed US startup data to identify key success factors, focusing on funding rounds, milestones, and investor trends. Applied PCA, correlation analysis, and machine learning models (Random Forest, Logistic Regression).</p>
    <p>Developed a high-performance Random Forest model achieving <strong>92.19% accuracy</strong>, AUC of <strong>0.983</strong>, and robust stability for startup success prediction.</p>

{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

